<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn{

        }
    </style>
</head>
<body>
    <form action="/submit" method="post"> 
        <input type = "text" name = "username" placeholder="bhai kuch type kerde">
        <input type="text" name = "password"  placeholder="bhai passward daal de">
        <h4>Do You Want To Submit The Form ?</h4>
        <button type = "submit" class = "btn"> Click Here</button>
    </form>
</body>
</html>