<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/login" method="post">
    <h1>Login page</h1>
        <input type = "text" name ="username" placeholder="Bhai kuch daal de na " >
    <input type = "text" name ="password" placeholder="Bhai passward daal de na">
    <button type ="submit"> Click Here </button>
    </form>
</body>
</html>