<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookie Form</title>
</head>
<body>
  <form action="/cookie_daal_do_bhai" method="POST">
    <label for="cookieName">Cookie Name: cokname</label>
    <!-- <input type="text" id="cookieName" name="name" placeholder="Enter cookie name" required> -->

    <label for="cookieValue">Cookie Value:</label>
    <input type="text" id="cookieValue" name="value" placeholder="Enter cookie value" required>

    <button type="submit">Set Cookie</button>
  </form>
</body>
</html>
